/* Entire */
#entireContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Calendar */
#entirecalendarContainer {
    display: flex;
    flex-direction: column;
}

#calendarMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendarContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#date {
    font-size: 25px;
}

.calendarMenuChild {
    display: flex;
    flex-direction: row;
}

.calendarMenuButton {
    display: block;
    height: 30px;
    width: 50px;
    margin-bottom: 5px;
}

.testTrue {
    display: flex;
    width: calc(95%/7);
    height: 95px;
    border: solid 1px black;
    margin: 0.5px;
    flex-direction: column;
    background-color: rgb(172, 165, 236);
}

.testFalse {
    display: flex;
    width: calc(95%/7);
    height: 95px;
    border: solid 1px black;
    margin: 0.5px;
    flex-direction: column;
}

.dateHolder {
    display: flex;
}

.Calendar-DateBox {
    display: flex;
    flex-direction: column;
    width: calc(95%/7);
    height: 40px;
    border: solid 1px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 0.5px;
}

.cellElements_isStartDate_true {
    display: flex;
    justify-content: center;
    clip-path: polygon(5% 100%, 80% 100%, 95% 50%, 80% 0%, 5% 0%);
    background-color: green;
    font-size: 14px;
    margin-bottom: 1px;
}

.cellElements_isStartDate_false {
    display: flex;
    justify-content: center;
    clip-path: polygon(5% 50%, 15% 100%, 90% 100%, 90% 0%, 15% 0%);
    background-color: red;
    font-size: 14px;
    margin-bottom: 1px;
}

/* TimeTable */
#entireTimeTableContainer {
    display: flex;
    flex-direction: column;
}


