.Container {
    display: flex;
    flex-direction: column;
}

.Card {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
}


.CardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#TitleInput {
    width: 550px;
    height: 40px;
    resize: none;
}

#ContentInput {
    width: 550px;
    height: 200px;
    resize: none;
}

#TitleEdit {
    width: 400px;
    height: 40px;
    resize: none;
}

#ContentEdit {
    width: 400px;
    height: 150px;
    resize: none;
}

.PendingCardContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.SetTodoDueDateField {
    display: flex;
}

.PendingCard {
    display: flex;
    flex-direction: column;
    
    width: 600px;
    height: 400px;
    align-items: center;
    justify-content: center;
    /* By doing below, it can display input field in ceneter of the window. But I don't know why. */
}

.CardMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CardMenuChild {
    padding: 5px;
    margin: 5px;
}

#AddBtn {
    display: block;
    width: 100px;
    font-size: 20px;
    color: aliceblue;
    background-color: green;
    border-radius: 5px;
}

#CancelBtn {
    width: 100px;
    font-size: 20px;
    color: aliceblue;
    background-color: brown;
    border-radius: 5px;
}

#ConfirmEditBtn {
    display: block;
    width: 100px;
    font-size: 20px;
    color: aliceblue;
    background-color: green;
    border-radius: 5px;
}

#DeleteBtn {
    width: 100px;
    font-size: 20px;
    color: aliceblue;
    background-color: brown;
    border-radius: 5px;
}

#CancelEditBtn {
    width: 100px;
    font-size: 20px;
    color: aliceblue;
    background-color: gray;
    border-radius: 5px;
}


/* リファクタリングにより不要になりました。つまり阪神ということです。 */
.show {
    opacity: 1;
    z-index: 334;
}

.hidden {
    opacity: 0;
    z-index: -334;
}

.Modal {
    z-index: 334;
}