#timeTableContiner {
    display: flex;
    flex-direction: column;
}

#innerTableElement {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
}

/*background color is temporary*/