.Container {
    display: flex;
    flex-direction: column;
}

#TodoAdd {
    font-size: 20px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 120px;
    height: 30px;
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
}

.Card {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CardMenuChild {
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}

.CardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#TitleInput {
    width: 400px;
    height: 40px;
    resize: none;
}

#ContentInput {
    width: 400px;
    height: 150px;
    resize: none;
}

.NewCard {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 450px;
    height: 300px;
    align-items: center;
    justify-content: center;
    /* By doing below, it can display input field in ceneter of the window. But I don't know why. */
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#AddBtn {
    display: block;
    width: 60px;
}

.show {
    opacity: 1;
    z-index: 10;
}

.hidden {
    opacity: 0;
    z-index: -1;
}