.testTrue {
    display: flex;
    width: calc(95%/7);
    height: 100px;
    border: solid 1px black;
    margin: 0.5px;
}

.testFalse {
    display: flex;
    width: calc(95%/7);
    height: 100px;
    border: solid 1px black;
    margin: 0.5px;
}

.Calendar-DateBox {
    display: flex;
    flex-direction: column;
    width: calc(95%/7);
    height: 50px;
    border: solid 1px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 0.5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}