.testTrue {
    display: flex;
    width: calc(95%/7);
    height: 85px;
    border: solid 1px black;
    margin: 0.5px;
    flex-direction: column;
    background-color: rgb(172, 165, 236);
}

.testFalse {
    display: flex;
    width: calc(95%/7);
    height: 85px;
    border: solid 1px black;
    margin: 0.5px;
    flex-direction: column;
}

.leftFlex {
    display: flex;
    flex-direction: column;
}

.dateHolder {
    display: flex;
}

.Calendar-DateBox {
    display: flex;
    flex-direction: column;
    width: calc(95%/7);
    height: 40px;
    border: solid 1px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 0.5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}